body{
    background-color: #BBBDB2;
    max-width: 100%;
    display: block;
    margin: 0;
    padding: 0;

    

}

#navbar{
    margin: 0;
    padding-top: 0px;
    text-align: center;
    padding: 20px;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.74);
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;

}

#navbar a{
    color: white;
    padding: 14px 100px;
    text-decoration: none;
    font-size: 2em;
}

#name {
    font-family: "Dancing Script", cursive;
}

#content{
    color: white;
    display:flex;
    flex-direction: row;
    background-color: #474339;
    font-weight: 50px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
}

#content h4{
    font-size: 24px ;
}

.image-tile{
    text-align: center;
}

.image-tile h4, p{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

.image-card{
    max-width: 80%;
   height: auto;
}

#killbill{
    max-width: 71%;
    margin-left: 80px;
}
#navbar a:hover{
    color: rgb(150, 85, 51);
    background-color: white;
}

footer{
    color: white;
    float:right;
    padding: 10px;
}

