body{
    background-color: #BBBDB2;
    max-width: 100%;
    display: block;
    margin: 0;
    padding: 0;
   

}

footer{
    color: white;
    float:right;
    padding: 10px;
}

.caption{
    padding: 10px;
    color: white;
    text-align: center;
}

#content{
    display:flex;
    margin:0;
    padding: 0;
    height: 100%;
}

#navbar{
    margin: 0;
    padding-top: 0px;
    text-align: center;
    padding: 20px;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.74);
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;

}

#name{
    font-family: "Dancing Script", cursive;
    
}

#navbar a{
    color: white;
    padding: 14px 100px;
    text-decoration: none;
    font-size: 2em;
    
    
}

#navbar a:hover{
    color: rgb(150, 85, 51);
    background-color: white;
}

#sub-content{
    font-size: 20px;
    line-height: 200%;
    font-weight: 400;
    color: white;
    width: 100%;
    text-align: center;
    background-color: #474339;
    flex:2;
    font-family: "Cormorant Garamond", serif;


}

.image-tile{
    width:100%;
    height: auto;
    flex:1;
    background-color: #474339;
    padding-top: 20px;
    padding-left: 20px
}

#description{
    padding-top:0;
    padding-left: 100px;
    padding-right: 100px;
    

}

#description h4{
    font-size: 75px;
}

.image-card{
    margin: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.479);
}



